<html ng-app=vizApp>
<head>
  <link rel="stylesheet" href="css/libjson.css">
  <link rel="stylesheet" href="css/libjuju.css">
  <!-- https://rawgithub.com/prajwalkman/angular-slider/master/angular-slider.css -->
  <link rel="stylesheet" href="css/angular-slider.css" title="" type="" />
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
  <!-- https://rawgithub.com/prajwalkman/angular-slider/master/angular-slider.js -->
  <script src="js/angular-slider.js"  charset="utf-8"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.min.js"></script>
  <title ng-controller="stateCtrl">{{n}}{{title}} - juju-viz</title>
</head>
<style type="text/css">
h2 {
       font-size: 20px;
       font-weight:bold;
}
</style>
<body>
<h2 ng-controller="stateCtrl"> juju-viz: {{title}}</h2>
<table>
<tr>
    <td align=center>
        <code>juju-viz v0.4.0 - "popover de canela"</code>
    </td>
</tr><tr>
    <td align=center>
        <div class="input-group" ng-controller="fileSelCtrl">
        <span class="input-group-addon">
            <input type="text" ng-model="input_select"
             typeahead="f for f in files.list | filter:$viewValue | limitTo:16"
             typeahead-on-select='onSelect($item, $model, $label)'
             placeholder="Type me"
             class="form-control">
        </span>
        <span class="input-group-addon">
            <select ng-model="files.cur" ng-change=setFile()
             ng-options="f for f in files.list"
             class="form-control">
             <option value="">Pick one juju environment:</option>
            </select>
        </span>
        </div>
    </td>
</tr><tr>
</tr><tr  ng-controller="sliderCtrl" ng-show="visible">
    <td>
        <slider floor="{{slider.floor}}" ceiling="{{slider.ceiling}}" step="1" ng-model="slider.cur"></slider>
    </td>
    <td>&nbsp;&nbsp;#{{slider.cur}}/{{slider.ceiling}}&nbsp;&nbsp;&nbsp;
        <button ng-click="reset()" type="button" class="btn btn-success">reset</button>
    </td>
</tr><tr ng-controller="vizGraphCtrl">
    <td align=center colspan=2>
        <favicon text-value="{{alertNum}}" text-color="{{alertColor}}" ></favicon>
        {{filename}} &nbsp;&nbsp; - &nbsp;&nbsp; <a href="{{filename_png}}">{{filename_png}}</a><br>
        {{timestamp}} {{get_status}}<p>
        <button ng-click="reload()" type="button" class="btn btn-primary">reload</button>
        <div align=left>
        <table>
            <tr>
                <td>
                    <!--
                    <accordion>
                    <accordion-group is-open="status.open">
                    <accordion-heading>
                    graph view controls <i class="pull-right glyphicon" 
                        ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm" ng-model="unit_details" btn-checkbox ng-change="updateView()">units: {{unit_text}}</button>
                        <label class="btn btn-sm" ng-model="graph_rankdir" ng-change="updateView()" btn-radio="''">Def. flow:</label>
                        <label class="btn btn-sm" ng-model="graph_rankdir" ng-change="updateView()" btn-radio="'TB'">TB</label>
                        <label class="btn btn-sm" ng-model="graph_rankdir" ng-change="updateView()" btn-radio="'LR'">LR</label>
                        <label class="btn btn-sm" ng-model="graph_rankdir" ng-change="updateView()" btn-radio="'BT'">BT</label>
                        <label class="btn btn-sm" ng-model="graph_rankdir" ng-change="updateView()" btn-radio="'RL'">RL</label>
                        <label class="btn btn-sm" ng-model="graph_size" ng-change="updateView()" btn-radio="''">Def. maxsize:</label>
                        <label class="btn btn-sm" ng-model="graph_size" ng-change="updateView()" btn-radio="5">5</label>
                        <label class="btn btn-sm" ng-model="graph_size" ng-change="updateView()" btn-radio="7">7</label>
                        <label class="btn btn-sm" ng-model="graph_size" ng-change="updateView()" btn-radio="10">10</label>
                        <label class="btn btn-sm" ng-model="graph_size" ng-change="updateView()" btn-radio="12">12</label>
                        <label class="btn btn-sm" ng-model="graph_size" ng-change="updateView()" btn-radio="15">15</label>
                        <label class="btn btn-sm" ng-model="graph_size" ng-change="updateView()" btn-radio="20">20</label>
                    </div>
                    <!--
                    </accordion-group>
                    </accordion>
                    -->
                </td>
            </tr>
        </table></div>
        <div dynamic="graph"></div>
    </td>
</tr><tr>
    <td ng-controller="statusCtrl" align=left colspan=2>
        <pre><code>{{jujustatus_title}}</code></pre>
        <pre><code><div dynamic="jujustatus_text"></div></code></pre>
    </td>
</tr>
</table>
</body>
  <script src="js/app.js"></script>
  <script src="js/viz.js"></script>
  <script src="js/lib.js"></script>
  <script src="js/libjuju.js"></script>
</html>
<!-- vim: ts=4 et sw=4 si
-->
