<html ng-app=vizApp>
<head>
  <link rel="stylesheet" href="css/libjson.css">
  <link rel="stylesheet" href="//rawgithub.com/prajwalkman/angular-slider/master/angular-slider.css" title="" type="" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body ng-app=vizApp>
  <h2>jjo, angulando</h2>
<table>
<tr>
    <td ng-controller="fileSelCtrl">
        <select ng-change=setFile() ng-model="files.cur"
            ng-options="f for f in files.list | filter:fileFilter">
        </select>
        <code>juju-viz v0.3.2</code>
    </td>
</tr><tr>
    <td colspan=2>
    <div ng-controller="sliderCtrl" ng-show="visible">
        <slider floor="{{value.floor}}" ceiling="{{value.ceiling}}" step="1" ng-model="value.cur"></slider>
    </div>
    </td>
</tr><tr>
    <td ng-controller="vizGraphCtrl" align=center colspan=2>
        {{filename}} - <a href="{{filename_png}}">{{filename_png}}</a><br>
        {{timestamp}} {{get_status}}<p>
        <div dynamic="graph"></div>
    </td>
</tr><tr>
    <td ng-controller="statusCtrl" align=left colspan=2>
        <pre><code>{{jujustatus_title}}</code></pre>
        <pre><code><div dynamic="jujustatus_text"></div></code></pre>
    </td>
</tr>
</table>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
  <script type="text/javascript" src='//rawgithub.com/prajwalkman/angular-slider/master/angular-slider.js'  charset="utf-8"></script>
<!-- //rawgithub.com/prajwalkman/angular-slider/master/angular-slider.js -->
  <script src="js/app.js"></script>
  <script src="js/viz.js"></script>
  <script src="js/lib.js"></script>
</html>
<!-- vim: ts=4 et sw=4 si
-->
